<div class="row">
  <div class="small-6 small-centered columns">
    <p> Let us know what you think!</p>

    <%= simple_form_for(@contact) do |f| %>

      <%= f.input :first_name %>
      <%= f.input :last_name %>
      <%= f.input :email %>
      <%= f.input :subject %>
      <%= f.input :description %>
      <%= f.button :submit, 'Hit us up!', class: 'button round' %>

    <% end %>
  </div>
</div>
